{% extends "layout.twig" %}
{% block content %}


    <!-- Header -->
    {% include "includes/header.twig" %}


    <div role="main" id="main">

        <!-- Main Zone
        {{zone('main')|raw}}-->

    </div>


    <!-- Footer -->
    {% include "includes/footer.twig" %}


{% endblock %}


{% block scripts %}
{% endblock %}
